spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DS_URL:localhost}:${DS_PORT:5432}/${DS_DATABASE:tasklist-database}
    username: ${DS_USER:postgres}
    password: ${DS_PASS:postgres}
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 5
      minimum-idle: 2
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: none
    generate-ddl: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    br.com.jtech.tasklist: DEBUG

server:
  port: ${PORT:8080}
  address: 0.0.0.0