spring:
  application:
    name: tasklist
    version: 1.0.0-SNAPSHOT
  profiles:
    active: ${PROFILE:dev}
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DS_URL:localhost}:${DS_PORT:5432}/${DS_DATABASE:sansys_database}
    password: ${DS_PASS:postgres}
    username: ${DS_USER:postgres}
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 5
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: none
    generate-ddl: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: true
management:
  endpoints:
    web:
      exposure:
        include: '*'
server:
  port: ${PORT:8080}
  address: 0.0.0.0
  forward-headers-strategy: framework
logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.boot: INFO
    br.com.jtech.tasklist: DEBUG
    org.hibernate.SQL: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
  file:
    name: ./logs/${spring.application.name}.log
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
api:
  version: v1
  description: Description here
  url:
    homologation: http://${HOMOLOGATION_SERVER:172.30.1.24}:${HOMOLOGATION_PORT:8081}
    production: ${PRODUCTION_URI:http://${spring.application.name}.jtech.com.br}

jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTTokenGenerationThatMustBeAtLeast256BitsLongForSecurity}
  expiration: ${JWT_EXPIRATION:86400000}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:604800000}